<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hlt.dao.GoodsSpecificationDao">
    <resultMap type="com.hlt.entity.GoodsSpecificationEntity" id="goodsSpecificationMap">
        <result property="id" column="id"/>
        <result property="goods_id" column="goods_id"/>
        <result property="specification_id" column="specification_id"/>
        <result property="value" column="value"/>
        <result property="pic_url" column="pic_url"/>
    </resultMap>

    <select id="queryList" resultMap="goodsSpecificationMap">
       select
       <if test="fields != null and fields != ''">
           ${fields}
       </if>
       <if test="fields == null or fields == ''">
           gs.*
       </if>
       from goods_specification gs
       <if test="specification == true">
           inner join specification s on gs.specification_id = s.id
       </if>
       <where>
           <if test="goods_id != null">
               and gs.goods_id = #{goods_id}
           </if>
           <if test="ids != null">
               and gs.id in
             <foreach collection="ids" item="id" open="(" separator="," close=")">
                 #{id}
             </foreach>
           </if>
       </where>
       <choose>
           <when test="sidx != null and sidx.trim() != ''">
               order by ${sidx} ${order}
           </when>
           <otherwise>
               order by gs.id desc
           </otherwise>
       </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>




    <insert id="save" parameterType="com.hlt.entity.GoodsSpecificationEntity" useGeneratedKeys="true" keyProperty="id">
        insert into goods_specification(
        `goods_id`,
        `specification_id`,
        `value`,
        `pic_url`
        )values (
        #{goods_id},
        #{specification_id},
        #{value},
        #{pic_url}
        )
    </insert>
</mapper>