<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hlt.dao.UserCouponDao">
    <resultMap id="userCouponMap" type="com.hlt.entity.UserCouponEntity">
        <result property="id" column="id"/>
        <result property="coupon_id" column="coupon_id"/>
        <result property="coupon_number" column="coupon_number"/>
        <result property="user_id" column="user_id"/>
        <result property="used_time" column="used_time"/>
        <result property="add_time" column="add_time"/>
        <result property="order_id" column="order_id"/>
        <result property="source_key" column="source_key"/>
        <result property="referrer" column="referrer"/>
    </resultMap>

    <select id="queryTotal" resultType="int">
		select count(*) from user_coupon
	</select>

    <select id="queryList" resultMap="userCouponMap">
        select a.* from user_coupon a
        left join coupon b on b.id = a.coupon_id
        where 1 = 1
        <if test="coupon_number != null">
            and a.coupon_number = #{coupon_number}
        </if>
        <if test="user_id != null">
            and a.user_id = #{user_id}
        </if>
        <if test="send_type != null">
            and b.send_type = #{send_type}
        </if>
        <if test="referrer != null">
            and a.referrer = #{referrer}
        </if>
        <if test="source_key != null">
            and a.source_key = #{source_key}
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryObject" resultMap="userCouponMap">
		select * from user_coupon where id = #{value}
	</select>

    <select id="queryByCouponNumber" resultMap="userCouponMap">
        select * from user_coupon where coupon_number = #{coupon_number}
    </select>


    <insert id="save" parameterType="com.hlt.entity.UserCouponEntity" useGeneratedKeys="true" keyProperty="id">
        insert into user_coupon
        (
            `coupon_id`,
			`coupon_number`,
			`user_id`,
			`used_time`,
			`order_id`,
			`add_time`,
			`source_key`,
			`referrer`
        )values
        (
            #{coupon_id},
			#{coupon_number},
			#{user_id},
			#{used_time},
			#{order_id},
			#{add_time},
			#{source_key},
			#{referrer}
        )
    </insert>
</mapper>